.mh {
    margin-bottom: 10px;
}
.flex-container {
    /* -webkit-flex-wrap: wrap; */
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}
.card {
    margin: 5px;
    color: #f7f7f7;
    border: 3px solid #393e46;
    border-radius: 15%;
    font-family: 'Acme', sans-serif;
    background-color: #5c636e;

}
.card-body {
    padding: 5px;
}
.bordery-bits {
    margin: initial;
    border-radius: inherit;
    padding: 7px;
}

.margin-stuff {
margin-top: 5px;
}

.artist-text {
    color: #393e46;
}

body {
  background-color: #5c636e;
  font-family: 'Acme', sans-serif;  
}
h1 {
    color: #393e46;
}
.audio-bg {
    background-color: #f7f7f7;
    height: 40vh;
    align-items: center;
}

.form-control {
    margin-right: 5px;
}

p {
    font-size: smaller;
}